@charset "utf-8";
/* CSS Document */

h1 {
	color: red;
	text-align: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: aquamarine;
	
}
li {
	float: left;
	align-content: center;
	border-right: 1px solid white;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	
}
li a:hover {
	background-color: antiquewhite;
	color: black;
}
ol {
	display: inline-grid;
}
